[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tblib = "*"
coverage = "*"
colorama = "*"
flake8 = "*"
parameterized = "*"
rope = "*"
pylint = "*"
yapf = "*"
pytest = "*"
django-debug-toolbar = "*"
pytest-httpbin = "*"
httpretty = "*"

[packages]
django = "~=2.2"
django-crispy-forms = "~=1.9"
django-formtools = "~=2.2"
django-flags = "~=5.0"
django-user-agents = "~=0.4"
djangosaml2 = "==0.20.0"
gunicorn = "~=20.0"
requests = "~=2.24"
xmltodict = "~=0.12"
structlog = "~=20.1"
hvac = "~=0.10"
python-dotenv = "~=0.13"
python-json-logger = "~=0.1"
openpyxl = "~=3.0"
babel = "~=2.8"
pyjwt = "~=1.7"
python-magic = "~=0.4"
psycopg2-binary = "~=2.8"
gevent = "~=20.6"
cachetools = "~=4.1"
python-memcached = "~=1.59"
bleach = "~=3.1"
djangorestframework-simplejwt = "~=4.4"
djangorestframework = "~=3.11"
marshmallow = "~=3.6"
django-csp = "~=3.6"
django-csp-reports = "~=1.4"
django-weasyprint = "~=1.0"
reportlab = "~=3.5"
json-logging-py = "~=0.2"

[requires]
python_version = "3.6"
